TibcoLittleESB/SCHEMAS/NotificareMesaj.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Cod" type="xs:string"/>
				<xs:element name="Destinatie" type="xs:string"/>
				<xs:element name="Tip" type="xs:string"/>
				<xs:element name="Descriere" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>